/* * {
    margin: 0;
    padding: 0 auto;
    display: flexbox;
} */


a {
    text-decoration: none;
}

.table-size {
    width: 100%;
    height: 100%;
    padding: 3rem; 
    
    
    }

tr, td {
border: 2px solid black ;
}

.cel-g {
    width: 100%;
    padding: 50px;
}

.cel-p {
    width: 33px;
    padding: 10vh;
}