body {
    padding: 50px;
}

/*tables*/

table {
    width: 100%;
    border-collapse: collapse;
    
}

th, td {
    border: 1px solid;
    padding: 10px;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}  

/*btn-pages*/

.btn-page{
    display: flex;
    text-align: center; 
    padding: 0;
    text-decoration: none;
   
}

.btn-page, a {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
    display: inline;

    padding: 10px;
    margin: o auto;
}

/*página 2*/

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid;
    padding: 10px;
    text-align: center;
}

thead {
    border: 1px solid;
    padding: 10px;
    text-align: center;

}










